flask==3.1.1
flask-wtf==1.2.2
flask-bootstrap==3.3.7.1
email-validator==2.2.0
flask-sqlalchemy==3.1.1
flask-migrate==4.1.0
mariadb==1.1.12
flask-login==0.6.3
cinemagoer==2023.5.1
pytest==8.4.1
flask-bcrypt==1.0.1
flask-mail==0.10.0
pyjwt==2.10.1
requests==2.32.4
gunicorn==23.0.0
