<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Change</title>
</head>

<body>
	<div class="container">
		{%include 'navbar.html'%}
		<h1>Change password</h1>
		<form action="" method="post" role="form">
			{{form.hidden_tag()}}
			{{form.current_password.label}}
			{{form.current_password}}
			{% for error in form.current_password.errors %}
				<p>{{error}}</p>
			{% endfor %}
			{{form.new_password.label}}
			{{form.new_password}}
			{% for error in form.new_password.errors %}
				<p>{{error}}</p>
			{% endfor %}
			{{form.confirm_password.label}}
			{{form.confirm_password}}
			{% for error in form.confirm_password.errors %}
				<p>{{error}}</p>
			{% endfor %}
			{{form.submit}}
		</form>
	</div>
</body>
</html>